{% extends "layout.html" %}

{% block title %} 
<h1><strong>This is our Data Science team </a></strong></h2>
{% endblock title %}

{% block content %} 
<br style="line-height:0px;" />

<div style="display:flex">
    <div style="flex:1";text-decoration: none;>
              <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/joaquin.png?token=AEN4ZVS44ZYAIGTFWDTAY5S6W5KS6" alt="" width="300" style = "margin-bottom: 1em";/>
              <br>
              <a href="https://www.linkedin.com/in/joaquin-menendez" style="text-decoration: none">
              <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/linkedinlogo.png?token=AEN4ZVQWM3ZVOL4D3JRFDBK6WYZGK" alt="" width="30" height="30";/> 
              <a href="https://github.com/joaquinmenendez/";style="text-decoration: none";>
              <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/github-square.png?token=AEN4ZVU4JINEOKQLAE2LZYS6WYZNU" alt="" width="30" height="30"/>
              </a>
             <h2 style="font-family:tempus sans itc; font-size: 2em"><a href="https://www.linkedin.com/in/joaquin-menendez/" style="text-decoration: none"; >Joaquin Menendez </a></h2>
     </div>
     <div style="flex:1">
         <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/julia.png?token=AEN4ZVUH5FFWADEVCVNKYOC6W5KU2" alt="" width="300" style = "margin-bottom: 1em";/>
         <br>
         <a href="https://www.linkedin.com/in/julia-oblasova/"style="text-decoration: none";> <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/linkedinlogo.png?token=AEN4ZVQWM3ZVOL4D3JRFDBK6WYZGK" alt="" width="30" height="30";/> 
         <a href="https://github.com/iuliiao" style="text-decoration: none";> <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/github-square.png?token=AEN4ZVU4JINEOKQLAE2LZYS6WYZNU" alt="" width="30" height="30"/></a>
         <h2 style="font-family:tempus sans itc; font-size: 2em"><a href="https://www.linkedin.com/in/julia-oblasova/"style="text-decoration: none"; >Julia Oblasova </a></h2>
         
     </div>
     <div style="flex:1">
         <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/azucena.png?token=AEN4ZVU5D4323K4AO2YZQEK6W5KN4" alt="" width="300" style = "margin-bottom: 1em";/>
         <br>
         <a href="https://www.linkedin.com/in/azucenamv/"style="text-decoration: none";> <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/linkedinlogo.png?token=AEN4ZVQWM3ZVOL4D3JRFDBK6WYZGK" alt="" width="30" height="30";/> <a href="https://github.com/AzucenaMV"style="text-decoration: none";> <img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/github-square.png?token=AEN4ZVU4JINEOKQLAE2LZYS6WYZNU" alt="" width="30" height="30"/></a></h2>
          <h2 style="font-family:tempus sans itc; font-size: 2em"><a href="https://www.linkedin.com/in/azucenamv/"style="text-decoration: none"; >Azucena Morales V.</a></h2>
     </div>
</div>
<br style="line-height:0px;" />
<p style="text-align: center; font-size:35px; margin-top: 2em; margin-bottom: .5em; color: #16167f; "><strong>Thank you for checking in!</strong></a></p>'
<br>
<p style="text-align: center; font-size:35px "> <a href="https://datascience.duke.edu/" target="_top"> 
<img src="https://raw.githubusercontent.com/joaquinmenendez/Authenticator/master/videos_photos/dukemids.png?token=AEN4ZVQBL4HDDUC4ITM3XIC6W5KXK" text-align: center; width="30%"/>
<br>



</form>
{% endblock content %} 