{% extends "layout.html" %}

{% block title %} 
<h2 style="text-align: center; color: #16167f; font-size:35px "><strong>We are the team of Data Science students at Duke MIDS</a></strong></h2>
{% endblock title %}

{% block content %} 
<center>
<p style="text-align: center; font-size:35px "> <a href="https://datascience.duke.edu/" target="_top"> 
<img src="https://sites.duke.edu/wids/files/2020/04/dukemids.png" text-align: center; width="850" height="150"/>
<br>
<br>
<img src="https://sites.duke.edu/wids/files/2020/04/dukemidsstudents-1.png" text-align: center; width="1050" height="300"/>
<br>


<div style="display:flex">
    <div style="flex:1";text-decoration: none;>
          <h2 style="font-family:tempus sans itc;text-indent : 7.5em;">
              <a href="https://www.linkedin.com/in/joaquin-menendez" style="text-decoration: none">
              <img src="https://sites.duke.edu/wids/files/2020/02/linkedinlogo.png" alt="" width="30" height="30";/> 
              <a href="https://github.com/joaquinmenendez/";style="text-decoration: none";>
              <img src="https://sites.duke.edu/wids/files/2020/04/github-square.png" alt="" width="30" height="30"/>
              </a>
          </h2>
          <h2 style="font-family:tempus sans itc; text-indent : 6.9em;font-size:31px"><a href="https://www.linkedin.com/in/joaquin-menendez/" style="text-decoration: none"; >Joaquin Menendez </a></h2>
     </div>
     <div style="flex:1">
         <h2 style="font-family:tempus sans itc;text-indent : 0.5em"><a href="https://www.linkedin.com/in/julia-oblasova/"style="text-decoration: none";> <img src="https://sites.duke.edu/wids/files/2020/02/linkedinlogo.png" alt="" width="30" height="30";/> <a href="https://github.com/iuliiao" style="text-decoration: none";> <img src="https://sites.duke.edu/wids/files/2020/04/github-square.png" alt="" width="30" height="30"/></a></h2>
          <h2 style="font-family:tempus sans itc; text-indent : 0.7 em;font-size:31px"><a href="https://www.linkedin.com/in/julia-oblasova/"style="text-decoration: none"; >Julia Oblasova </a></h2>
     </div>
     <div style="flex:1">
         <h2 style="font-family:tempus sans itc;text-indent : -8em"><a href="https://www.linkedin.com/in/azucenamv/"style="text-decoration: none";> <img src="https://sites.duke.edu/wids/files/2020/02/linkedinlogo.png" alt="" width="30" height="30";/> <a href="https://github.com/AzucenaMV"style="text-decoration: none";> <img src="https://sites.duke.edu/wids/files/2020/04/github-square.png" alt="" width="30" height="30"/></a></h2>
          <h2 style="font-family:tempus sans itc; text-indent : -5em;font-size:31px"><a href="https://www.linkedin.com/in/azucenamv/"style="text-decoration: none"; >L. Azucena Morales V.</a></h2>
     </div>
</div>
<br>
<p style="text-align: center; font-size:35px; color: #16167f; "><strong>Thank you for checking in!</strong></a></p>'
<br>

</center>

</form>
{% endblock content %} 