{% extends "layout.html" %}

{% block title %} 
<h2>
    <strong>Step 2/3 completed</strong>

</h2>

<center>
 <p style="text-align: center;"> You have a choice to download image embeddings or proceed to the next step</p>
 </center>

{% endblock title %}
<br>
</br>
{% block content %} 
    <form style="text-align: center;" method="get" action="tmp/train/embeddings/data.pickle">
        <button type="submit">Download image embeddings</button>
    </form>
<br>
</br>
<center>
<img src="https://raw.githubusercontent.com/joaquinmenendez/Facial_Recognition_Pipeline/master/videos_photos/embeddings.png?token=AEN4ZVTQ5PWI6WPMDLDTXKS6W34JC" text-align: center; width="100%"/>
</center>
<br>
</br>
<br>
</br>
<center>
    <form method="post" action="/embedding/" style="text-align: center vertical-align: middle; margin: auto;">
        <button name="preprocess_button" type="submit">Train and deploy</button>
    </form>

</center>
 {% endblock content %} 