{% extends "layout.html" %}

{% block title %} 
<h2>
    <strong>Welcome to Authentificator!</a></strong>
</h2>
{% endblock title %}

{% block content %} 
<br>
    <p> Authentificator is a framework to train and deploy face recognition algorithms in an easy and fast way.</p>
    <p> You can use Authentificator to identify your team members and share the appropriate access rights to keep your business safe.</p>
	<div id="vid-container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%"> 
        <a target="_top"> 
        <iframe name="frame-video-proj" id="frame-video-proj" width="100%" height="100%"
        src="https://www.youtube.com/embed/r5x1te9vxK4" text-align: center; frameborder="0"; allowfullscreen style="position:absolute; top:0; left: 0"></iframe>
    </div>
        <p style="text-align: center;"><strong> Teach the algortihm to recognize your team!</strong></p>
        </a>

    <form style="text-align: center">
        <button formaction="/train">
            <p style="text-align: center; vertical-align: middle; margin: auto;; font-size:20px ">
                <strong> Start Learning </strong>
            </p>
        </button>
    </form>
    <br>
{% endblock content %}
