{% extends "layout.html" %}
{% block title %} <h1> Test </h1> {% endblock title %}

{% block content %} 
<p>Upload something</p>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/test" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload">
	</p>
</form>

    {% if posts["file"] %}
    <img src="{{posts["file"]}}" alt="Image selected"/>
    <form>
      <button formaction="/output">Test this photo!</button>
    </form>
    {% endif %}


{% endblock content %}