{% extends "layout.html" %}

{% block title %} 
<h2 style="text-align: center; color: #16167f; font-size:35px "><strong>Upload your videos</a></strong></h2> 
 {% endblock title %}

{% block content %} 
<center>
   <p>
    For every video you should assign a name and a role. <br>
    If the video was recorded on an Android device check the 'Rotate image 90° counter clockwise' checkbox.<br>
    After uploading all your video click on 'Preprocess data'.
   </p>
    <form method="post" action="/train" enctype="multipart/form-data">
        <dl>
            <p> 
                <label for="fname">Who appears in this video?:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="frole">Assign a role:</label><br>
                <input type="text" id="frole" name="frole"><br>
                <input type="checkbox" id="frotate" name="frotate" value="None">
                <label for="frotate">Not rotate</label><br>
                <input type="checkbox" id="frotate" name="frotate" value="ROTATE_90_CLOCKWISE">
                <label for="frotate">Rotate image 90° clockwise</label><br>
                <input type="checkbox" id="frotate" name="frotate" value="ROTATE_90_COUNTERCLOCKWISE">
                <label for="frotate">Rotate image 90° counter clockwise</label><br>
                <input type="checkbox" id="frotate" name="frotate" value="ROTATE_180">
                <label for="frotate">Rotate image 180°</label><br>
                <input type="file" name="file" autocomplete="off" required>
                <input type="submit" value="Upload"> <input type="reset">
            </p>
        </dl>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </p>   
        <br>
        {% if posts[0] %}
            <table>
                    <tr>
                        {% for key in posts[0].keys()%}
                        <th> {{ key}} </th>
                        {% endfor %}
                    </tr>
                    {% for dictionary in posts %}
                    <tr>
                            {% for keys, value in dictionary.items() %}
                            <td> {{ value }} </td>
                            {% endfor %} 
                    </tr>
                     {% endfor %}    
            </table>
        {% else %}
            <p>Please upload one file<p/>
        {% endif %}
        <!-- 
            <img src="https://sites.duke.edu/wids/files/2020/04/mids-photo.png" text-align: center; width="740" height="510"/>
         -->
    </form>
    
    <br>
        <form method="post" action="/preprocess/">
            <button name="preprocess_button" type="submit">Preprocess data </button>
        </form>
    <br>
        {% if finish_preprocess == True %}
        <form style="text-align: center">
            <button formaction="/preprocess">
                <p style="text-align: center; vertical-align: middle; margin: auto;; font-size:20px "><strong> Next </strong></p>
            </button>
        </form>
        {% endif %}
</center>
{% endblock content %}