{% extends "layout.html" %}

{% block title %} 
<h2 style="text-align: center; color: #16167f; font-size:35px "><strong>Upload your videos</a></strong></h2> 
 {% endblock title %}

{% block content %} 
<center>
   <p>
    For every video you should assign a name and a role. <br>
    <br>
    After uploading all your video click on 'Preprocess data'.
   </p>
    <form method="post" action="/train" enctype="multipart/form-data">
        <dl>
                <input type="file" name="file" autocomplete="off" required>
                <input type="submit" value="Upload"> <input type="reset"> <br>
        <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </p>  
        <dl>
 
</center>
        <div class="container">      
            <div class="row justify-content-center">
                <div class="col-4">
                    <center>
                    <label for="fname">Who appears in this video?</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="frole">Assign a role</label><br>
                    <input type="text" id="frole" name="frole"><br>
                    </center>
                </div>
                <div class="col-4">
                    <input type="checkbox" id="frotate" name="frotate" value="None" checked>
                    <label for="frotate">Not rotate</label><br>
                    <input type="checkbox" id="frotate" name="frotate" value="ROTATE_90_CLOCKWISE">
                    <label for="frotate">Rotate image 90° clockwise</label><br>
                    <input type="checkbox" id="frotate" name="frotate" value="ROTATE_90_COUNTERCLOCKWISE">
                    <label for="frotate">Rotate image 90° counter clockwise</label><br>
                    <input type="checkbox" id="frotate" name="frotate" value="ROTATE_180">
                    <label for="frotate">Rotate image 180°</label><br>
                </div>
            </div>
        </div>

<center>

        <br>
        {% if posts[0] %}
            <table>
                    <tr>
                        {% for key in posts[0].keys()%}
                        <th> {{ key}} </th>
                        {% endfor %}
                    </tr>
                    {% for dictionary in posts %}
                    <tr>
                            {% for keys, value in dictionary.items() %}
                            <td> {{ value }} </td>
                            {% endfor %} 
                    </tr>
                     {% endfor %}    
            </table>
        {% else %}
            <p>Please upload one file<p/>
        {% endif %}
 
    </form>
    
    <br>
        <form method="post" action="/preprocess/">
            <button name="preprocess_button" type="submit">Preprocess data </button>
        </form>
    <br>
        {% if finish_preprocess == True %}
        <form style="text-align: center">
            <button formaction="/preprocess">
                <p style="text-align: center; vertical-align: middle; margin: auto;; font-size:20px "><strong> Next </strong></p>
            </button>
        </form>
        {% endif %}
</center>
{% endblock content %}